.app {

  background: linear-gradient(to right, rgb(211, 234, 239) 5% ,rgb(216, 203, 232),rgb(190, 205, 244),rgb(197, 233, 240), rgb(218, 201, 246));
  background-attachment: fixed; 
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 100vh;
  min-width: 100vw ;
}